<footer class="footer2 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                <div class="container copyright-container">
                    <p style="font-size:14px;">
                        © <span class="current-year"> </span> &nbsp;Copyright {{currentYear}}.&nbsp;All Right Reserved
                        By
                        <a href="http://43.228.125.24:280/portal/post_detail?id=f7aa3a6e-f9c8-4ff0-9735-72fcefc6f1c6"
                            target="_blank"> <span class="color"></span></a>. Powered by <a
                            href="https://www.systematic-solution.com/" target="_blank" class="footerlink">
                            SYSTEMATIC BUSINESS SOLUTION</a>
                    </p>
                </div>
            </div>
           
            <div class="col-sm-6 col-lg-6 mt-1-9">
                <div class="footer-sec footer-sec-pro">
                    <span class=" h5 mb-1-9 mb-4">Social Media:</span>
                    <img src="assets/images/facebook-fill.png" class="image-icon" width="30px">
                    <a href="" class="social-icon" target="_blank">
                        <img src="assets/images/youtube.png" class="image-icon" width="30px"></a>
                    <a href="" class="section-icon" target="_blank">
                        <img src="assets/images/email.png" width="28px">
                        info@myanmargpe.com
                    </a>

                </div>
            </div>


        </div>
    </div>

</footer>